body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}
body::before {
    background: url("images/Background_kopia.png") no-repeat center center;
    background-size: cover;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}
/* Создание стиля для скролла */
body::-webkit-scrollbar {
    width: 14px;       /* ширина scrollbar */
}
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);       /* цвет дорожки */
}
  body::-webkit-scrollbar-thumb {
    background-color: black;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid rgba(168, 74, 255, 0.5);  /* padding вокруг плашки */
}
* {
    box-sizing: border-box;
}
.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}

#wrapper {
    width: 100%;
    font-family: "Sedan SC", serif;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
}   
#header #logo {
    margin-bottom: 30px;
    margin-top: 25px;
    color: rgb(218, 99, 192);
    font-size: 60px;
    font-weight: 500;
    /* text-shadow: 1px 0px 1px rgb(255, 0, 144),
    0px 1px 1px rgb(255, 0, 144),
    -1px 0px 1px rgb(255, 0, 144),
    0px -1px 1px rgb(255, 0, 144), 
    10px 0px 20px rgba(255, 255, 255, 0.5); */
    text-align: center;
    background-color: rgba(0,0,0, 0.9);
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    font-family: 'Satisfy', cursive;
}

#header nav {
    display: flex;
    width: 700px;
    justify-content: center;
    margin: 0 auto;
    gap: 50px;
}
#header nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Oswald, serif;
    width: 140px;
    background-color: rgba(0,0,0, 0.6);
    backdrop-filter: blur(1px);
    border: 1px solid rgb(255, 154, 250);
    border-radius: 10px;
    height: 50px;
}
#header nav .active {
    text-decoration: none;
    color: rgb(218, 99, 192);
}
@keyframes change_color {
    from {
        color: white;
    }
    to {
        color: rgb(255, 167, 252);
    }
}
#header nav a:hover {
    animation-name: change_color;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

#content {
    animation-name: show;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 0 auto 100px auto;
    width: 60%;
    border: 2px solid rgb(179, 97, 255);
    border-radius: 10px;
    padding: 30px 0px 40px 0px;
    background-color: rgba(0,0,0, 0.7);
    backdrop-filter: blur(1px);
    text-align: center;
}
#head {
    margin: 0 auto;
    border: 1px solid rgb(255, 154, 250);
    width: 25%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.8);
    backdrop-filter: blur(1px);
    font-family: Oswald, serif;
}
#content form label {
    font-size: 20px;
}
#content input {
    width: 90%;
    height: 30px;
    background-color: rgba(0,0,0, 0.15);
    backdrop-filter: blur(1px);
    border: 2px solid rgb(160, 45, 175);
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin-top: 10px;
}
#content input:focus {
    border: 2px solid rgb(179, 97, 255);
    outline: none;
}
#content input[type="submit"] {
    padding: 0;
    font-size: 20px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    height: 40px;
    font-family: Oswald, serif;
    margin-top: 40px;
    width: 60%;
}
#content #help {
    font-size: 14px;
    width: 90%;
}

#hr {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    border: 2px solid rgb(255, 154, 250);
    border-radius: 1px;
}
#footer {
    width: 80%;
    margin: 50px auto; 
    text-align: center;  
}
#footer p {
    font-size: 12px;
    background-color: rgba(0,0,0, 0.9);
    width: 80%;
    padding: 10px;
    margin: 50px auto;
}
#footer #social {
    display: flex;
    gap: 50px;
    justify-content: center;
}
#footer #social #first {
    height: 50px;
    width: 50px;
    background-image: url("images/vk.png");
    background-size: 50px;
}
#footer #social #scnd {
    height: 50px;
    width: 50px;
    background-image: url("images/pngwing.com.png");
    background-size: 50px;
}
#footer #thanks {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: black;
    color: rgb(218, 99, 192);
    width: 60%;
    height: 50px;
    margin: 0 auto 20px auto;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    font-family: Oswald, serif;
}

@keyframes show {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1400px) {
    #wrapper {
        width: 100%;
    }
    #header #logo {
        font-size: 40px;
        text-align: center;
    }
    #header nav {
        width: 60%;
        gap: 30px;
        justify-content: center;
    }
    #header nav a {
        font-size: 20px;
        height: 40px;
    }
}
@media (max-width: 1180px) {
    #wrapper {
        width: 100%;
    }
    #header #logo {
        font-size: 40px;
        text-align: center;
    }
    #header nav {
        width: 90%;
        gap: 30px;
        justify-content: center;
    }
    #header nav a {
        font-size: 20px;
        height: 40px;
    }
    #head {
        width: 70%;
        margin: -50px auto 50px auto;
    }
    #content {
        width: 80%;
    }
    #content form label {
        font-size: 16px;
    }
    #content input[type="submit"] {
        font-size: 16px;
    }
    #content #help {
        font-size: 12px;
    }
}
@media (max-width: 550px) {
    #header #logo {
        font-size: 27px;
        text-align: center;
        width: 250px;
    }
    #header nav {
        width: 90%;
        gap: 15px;
        justify-content: center;
    }
    #header nav a {
        font-size: 12px;
        height: 40px;
    }
    #head {
        width: 70%;
        margin: 0 auto 50px auto;
    }
    #content {
        width: 80%;
    }
    #content form label {
        font-size: 16px;
    }
    #content input[type="submit"] {
        font-size: 16px;
    }
    #content #help {
        font-size: 12px;
    }
    #footer #thanks{
        font-size: 14px;
    }
}